{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <script src="{% static 'utils.js' %}"></script>
    {% block styles %}{% endblock styles %}
    <title>UNK</title>
</head>
<body>
    <header class="header">
        <nav class="nav">
            <div class="nav-group-1">
            <a class="nav-link {% if '/buyer' in request.path  %}nav-link-active{% endif %}" href="{% url 'buyer' %}"><div>Покупатель</div></a>
            <a class="nav-link {% if '/seller' in request.path  %}nav-link-active{% endif %}" href="{% url 'seller' %}"><div>Сбытчик</div></a>
            <a class="nav-link {% if '/search' in request.path  %}nav-link-active{% endif %}" href="{% url 'search' %}"><div>Поиск</div></a>
            </div>
            <div class="nav-group-2">
                <a class="nav-link {% if '/search' in request.path  %}nav-link-active{% endif %}" href="#"><div>Выход</div></a>
            </div>
        </nav>
    </header>
    {% block main %}
    {% endblock main %}
</body>
</html>