{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css\buyer-card.css' %}">
<link rel="stylesheet" href="{% static 'widgets\autocomplete\autocomplete.css' %}">

<script type="text/javascript" src="{% static 'widgets\autocomplete\autocomplete.js' %}"></script>

{{ buyer_form.media }}
{% endblock styles %}
{% block main %}
<main class="main">
    <h1 style="text-align: center">Просмотр всех сбытчиков</h1>
    <div class="main-inner-container">

        <div class="table-conainer">
            <table class="table">
                <tbody class="body-table">
                    <tr class="table-column-container">
                        <th class="table-column table-column-header table-column-first-name">Имя</th>
                        <th class="table-column table-column-header table-column-last-name">Фамилия
                        </th>
                        <th class="table-column table-column-header table-column-patrnomic">Отчество
                        </th>
                        <th class="table-column table-column-header table-column-birth-date">Дата
                            рождения</th>
                        <th>
                            <div class="create-btn-container"><a class="btn-create"
                                    href="{% url 'create-seller' %}"><div class="image-create"></div></a></div>
                        </th>
                    </tr>
                    {% for seller in sellers %}
                    <tr class="table-column-container">
                        <td class="table-column table-column-first-name">{{ seller.first_name }} </td>
                        <td class="table-column table-column-last-name">{{ seller.last_name }} </td>
                        <td class="table-column table-column-patrnomic">{{ seller.patronymic }} </td>
                        <td class="table-column table-column-birth-date">{{ seller.birth_date }}</td>
                        <td class="table-column table-column-edit">
                            <a class="btn-edit" href="{% url 'update-seller' seller.id %}">
                                <div class="image-edit"></div></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}