* {
    margin: 0;
    padding: 0;
    font-family: 'PT Serif', serif;
}


.header {
    border-bottom: 1px solid rgb(184, 184, 184);
    padding-bottom: 3px;
}

.nav {
    display: flex;
    justify-content: center;
}

.nav-link {
    position: relative;

    text-decoration: none;
    margin: 0 48px;
    font-size: 26px;

    padding: 4px 8px;
}

.nav-link:visited {
    color: black;
}

.nav-link:hover {
    background: rgb(226, 226, 226);
}

.nav-link-active::after {
    position: absolute;
    bottom: -3px;
    left: 0;
    display: block;
    width: 100%;
    content: '';
    border-top: 3px solid #000;
}

.header-1 {
    text-align: center;
}

.header-2 {
    text-align: center;
}

.main {
    margin-top: 24px;
    width: 80%;
    margin: 0 auto;
}

.container-form-card {
    width: 1024px;
    margin: 96px auto;
    font-size: 18px;
}

.display-none {
    display: none;
}


input[type='number'

] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

a.btn-create {
    display: inline-block;
    background-color: gray;
    color: rgb(0, 0, 0);
    text-decoration: none;
    user-select: none;
    padding: 0.5em 3em;
    outline: none;
    border-radius: 8px 8px 0px 0px;
    background: linear-gradient(rgb(216, 216, 216), rgb(189, 189, 189));

    transition: 0.2s;
}

a.btn-create:hover {
    background: rgb(189, 189, 189);
}

a.btn-create:active {
    background: rgb(255, 255, 255);
}

a.btn-edit {
    width: 100%;
    display: inline-block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    user-select: none;
    padding: 0.5em 0em;
    outline: none;
    background: linear-gradient(rgb(250,250,250), rgb(235,235,235));
}

a.btn-edit:hover {
    background: rgb(236, 236, 236);
}

a.btn-edit:active {
    background: rgb(255, 255, 255);
}



a.btn, button.btn {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    user-select: none;
    padding: .4em 1em;
    outline: none;
    border: 1px solid;
    border-radius: 4px;
    transition: 0.2s;

    background: linear-gradient(rgb(236, 236, 236), rgb(192, 191, 191));
}

a.btn, button.btn:hover {
    background: linear-gradient(rgb(236, 235, 235), rgb(223, 223, 223));
}

a.btn, button.btn:active {
    background: linear-gradient(rgb(236, 235, 235), rgb(223, 223, 223));
}

a.btn-goto {
    padding: .2em .5em;
    font-size: .80em;
}

input {
    border-radius: 4px;
    font-size: 1em;
}


.buyer-table-column {
    width: max-content;
    text-align: start;
    padding: 0 8px;
}

.buyer-table-column-edit {
    width: 3em;
    padding: 0;
    text-align: center;

}

.buyer-table-column-container {
    margin-bottom: 8px;
}

.buyer-table-conainer {
    width: 100%;
}

.buyer-table {
    margin: 0 auto;
    width: 80%;
    border-spacing: 8px;
    border-collapse: collapse;
}

.main-inner-container {
    margin-top: 48px;
}

.create-buyer-btn-container {
    margin: auto;
    width: min-content;
}

tr {
    border-bottom: 1px solid black
}

tr:nth-child(2n) {
    background: rgb(223, 221, 221);
}
