
input {
  background-color: rgb(221, 221, 221);
  border: none;
  border-bottom: 1px solid black;

  }
  input:focus {
    border: 1px solid #494949;
  }

  .autocomplete-wrap {
    position: relative;
    width: 150px;
  }

  .autocomplete-input {
    width: 100%;
  }

  .autocomplete-list {

    position: absolute;
    top: 100%;
    border: 1px solid #000000;
    width: 100%;
    display: none;
    z-index: 9999;
    max-height: 400px;
    overflow-y: auto;

  }

  .autocomplete-wrap.active .autocomplete-list {
    display: block;
    border-radius: 0 0 3px 3px;
  }

  .autocomplete-item {
    padding: 8px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: all .3s ease;
    background: #eee;
  }
  .autocomplete-item:hover, .autocomplete-item.focused {
    background: rgb(182, 182, 182);
  }

  .autocomplete-wrap.active .autocomplete-input {
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid transparent;
  }