.search-result-container {
    width: 50%;
    display: flex;
}

.search-result-container-inner {
    margin: 0 auto;
    width: 100%;
}
.search-table-column-stuffs {
    text-align: center;
}
.search-table {
    margin: 0 auto;
    width: 90%;
    border-spacing: 8px;
    border-collapse: collapse;
}

.search-result {
    width: 512px;
    display: flex;
}

.search-form-container {
    margin-top: 24px;
    width: 100%;
    display: flex;
    width: 25%;
}

.search-form {
    font-size: 1.2em;
    margin: 0 auto;
}

.search-form-field-container {
    display: flex;
    flex-direction: column;
    padding-left: 32px;
}

.search-form-field {
    margin-bottom: 12px;
}

.search-container {
    margin-top: 48px;
}



.search-inner-container {
    margin-top: 24px;
    width: 100%;
    display: flex;
}

.search-filter-block {
    margin-bottom: 16px;
}


.common-search-block .search-form-field,
.stuffs-search-block .search-form-field,
.mobiles-search-block .search-form-field,
.payments-search-block .search-form-field,
.account-search-block .search-form-field
{
    display: flex;
    justify-content: end;
    margin-right: 64px;
}


.common-search-block .field-name, .common-search-block .input-field,
.stuffs-search-block .field-name, .stuffs-search-block .input-field,
.mobiles-search-block .field-name, .mobiles-search-block .input-field,
.payments-search-block .field-name, .payments-search-block .input-field,
.account-search-block .field-name, .account-search-block .input-field{
    display: inline-block;
    text-align: end;
    padding-right: 4px;
}

.mobile-numbers {display: block !important;}

.payments-search-block h4 {
    margin-top: 8px;
}

.table-header  {
    height: 50px;
}

.table-column {
    height: 50px;
}
.stuff-mass-unit {
    width: 55px;
    margin-left: 8px;
}

.stuff-mass {
    display: flex;
}


.stuff-mass input {
    width: 85px;
}

.search-form-stuffs-mass-container {
    display: flex;
    justify-content: end;
    padding-right: 64px;
}
.search-form-stuffs-mass {
    margin-bottom: 12px;
    /* margin-right: 64px; */
    display: flex;
    justify-content: end;
}

.search-map-container {
    width: 25%;
}

.mapboxgl-canvas-container {

    height: 75vh;
    width: 400px;

}